<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>***用户版</title>
</head>

<body>
    <div class="header">
        <div class="position-icon">
            <svg class="position-icon-size">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#location">
                    <svg viewBox="0 0 26 31" id="location" width="100%" height="100%">
                        <path fill="#FFF" fill-rule="evenodd" d="M22.116 22.601c-2.329 2.804-7.669 7.827-7.669 7.827-.799.762-2.094.763-2.897-.008 0 0-5.26-4.97-7.643-7.796C1.524 19.8 0 16.89 0 13.194 0 5.908 5.82 0 13 0s13 5.907 13 13.195c0 3.682-1.554 6.602-3.884 9.406zM18 13a5 5 0 1 0-10 0 5 5 0 0 0 10 0z"></path>
                    </svg>
                </use>
            </svg>
            <div class="position-content">
                <!-- TODO: change content in future -->
                浦东新区纳贤路799号
            </div>
        </div>
        <div class="search-bar">搜索商家、商品名称</div>
        <div class="item-types">
            <!-- TODO: change content in future -->
            <div class="item-types-item">分类1</div>
            <div class="item-types-item">分类2</div>
            <div class="item-types-item">分类3</div>
            <div class="item-types-item">分类4</div>
            <div class="item-types-item">分类5</div>
        </div>
    </div>
    <div class="icons">
        <div class="icons-item">
            <!-- TODO 更改商品图标内容 -->
            <img src="/images/icons-item.jpeg"><br>
            <div class="icons-item-title">商品</div>
        </div>
        <div class="icons-item">
            <!-- TODO 更改商品图标内容 -->
            <img src="/images/icons-item.jpeg"><br>
            <div class="icons-item-title">商品</div>
        </div>
        <div class="icons-item">
            <!-- TODO 更改商品图标内容 -->
            <img src="/images/icons-item.jpeg"><br>
            <div class="icons-item-title">商品</div>
        </div>
        <div class="icons-item">
            <!-- TODO 更改商品图标内容 -->
            <img src="/images/icons-item.jpeg"><br>
            <div class="icons-item-title">商品</div>
        </div>
        <div class="icons-item">
            <!-- TODO 更改商品图标内容 -->
            <img src="/images/icons-item.jpeg"><br>
            <div class="icons-item-title">商品</div>
        </div>
        <div class="icons-item">
            <!-- TODO 更改商品图标内容 -->
            <img src="/images/icons-item.jpeg"><br>
            <div class="icons-item-title">商品</div>
        </div>
        <div class="icons-item">
            <!-- TODO 更改商品图标内容 -->
            <img src="/images/icons-item.jpeg"><br>
            <div class="icons-item-title">商品</div>
        </div>
        <div class="icons-item">
            <!-- TODO 更改商品图标内容 -->
            <img src="/images/icons-item.jpeg"><br>
            <div class="icons-item-title">商品</div>
        </div>
    </div>
    <div class="line"></div>
    <div class="shops">
        <!-- TODO 修改其中的内容 -->
        <div class="shop">
            <div class="shop-icon">
                <img src="/images/customer/DEMO_customer.png" alt="">
            </div>
            <div class="shop-content">
                <div class="title">商家名称</div>
                <div class="rating">4.5颗星 111口碑</div>
                <div class="comment">这是一个模拟商家，并非是真是的商家</div>
            </div>
        </div>

        <div class="shop">
            <div class="shop-icon">
                <img src="/images/customer/DEMO_customer.png" alt="">
            </div>
            <div class="shop-content">
                <div class="title">商家名称</div>
                <div class="rating">4.5颗星 111口碑</div>
                <div class="comment">这是一个模拟商家，并非是真是的商家</div>
            </div>
        </div>

        <div class="shop">
            <div class="shop-icon">
                <img src="/images/customer/DEMO_customer.png" alt="">
            </div>
            <div class="shop-content">
                <div class="title">商家名称</div>
                <div class="rating">4.5颗星 111口碑</div>
                <div class="comment">这是一个模拟商家，并非是真是的商家</div>
            </div>
        </div>
    </div>
    <% include bottom.ejs%>
</body>

<link rel="stylesheet" href="/stylesheets/customer/index.css">

</html>